<?xml version="1.0"?>
<launch>
	<arg name="loadDrives" default="false" /> 
	<!-- upload parameters -->
	<group if="$(arg loadDrives)">
		<rosparam command="load" ns="relayboard/drive1" file="$(find cob_hardware_config)/$(env ROBOT)/config/drive1.yaml"/>
		<rosparam command="load" ns="relayboard/drive2" file="$(find cob_hardware_config)/$(env ROBOT)/config/drive2.yaml"/>
	</group>
	
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<!-- start relayboard node -->
	<rosparam command="load" ns="relayboard" file="$(arg pkg_hardware_config)/$(env ROBOT)/config/relayboard.yaml"/>
	<node name="relayboard_node" ns="relayboard" pkg="cob_relayboard" type="neo_relayboard_node" respawn="false" output="screen"/>

</launch>
